.containerParams {
  grid-area: containerParams;
  height: 100%;
  width: 95%;
}
.containerParams__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(---color-theme-type-6-2);
}

.containerParams__helperLabel {
  color: var(--color-darger);
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-bottom: 10px;
}

.containerParams__containerCurrenteParam {
  background-color: var(---color-theme-type-6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: auto;
  border-radius: 5px;
}
.containerParams__containerCurrenteParam--currentParam {
  color: var(---color-theme-type-2);
  font-weight: normal;
  font-size: 1rem;
}

.containerParams__containerCurrenteParam--closeIcon {
  background-color: var(---color-theme-type-2);
  border-radius: 5px;
  width: 25px;
}

.containerParams__containerCurrenteParam--closeIcon:hover {
  cursor: pointer;
  background-color: var(--color-darger);
}

.containerParams__paramsList {
  height: 90%;
  width: 100%;
  border: 2px solid var(---color-theme-type-3);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.paramsList__containerScroll {
  height: auto;
  max-height: 450px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
}
.paramsList__containerScroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.paramsList__container--contentParam {
  background-color: var(---color-theme-type-6);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  display: inline;
}

.contentParam__parameter {
  color: var(---color-theme-type-2);
  font-size: 1.2rem;
  /* font-weight: bold; */
  display: inline;
}

.paramsList__container--contentParam:hover {
  background-color: var(---color-theme-type-2);
  cursor: pointer;

  & .contentParam__parameter {
    color: var(---color-theme-type-6);
  }
}
