.footer {
  grid-area: footer;
  background-color: var(---color-theme-type-4);
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  box-sizing: border-box;
}

.footer__credits {
  color: var(---color-theme-type-6-2);
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: bold;
}

.footer__credits a {
  color: var(---color-theme-type-1);
  text-decoration: none;
  font-weight: bold;
}
